.stop {
    position: sticky;
    top: 0px;
    z-index: 999;
}

.tasks-header{
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .tasks-header{
        width: calc(100% - 220px);
    }
}